
@{
    ViewData["Title"] = "Main";
}

<h2>Main</h2>
<p>
    <td>@Html.ActionLink("Sucursales", "Sucursales", "Home") </td>
</p>
<p>
    <td>@Html.ActionLink("Productos", "Productos", "Home") </td>
</p>
<p>
    <td>@Html.ActionLink("Sucursal-Precio", "SucursalPrecio", "Home") </td>
</p>

