@model Visual.Models.SucursalPrecio

@{
    ViewData["Title"] = "NuevoSucursalPrecio";
}

<h2>Nuevo Sucursal Precio</h2>

@using (Html.BeginForm("NuevoSucursalPrecio", "Home"))
{
    @Html.ValidationSummary();
    <ol>
        <p>
            <td>ID Sucursal</td>
            <td>@Html.TextBox("id_s", "")</td>
        </p>

        <p>
            <td>ID Producto</td>
            <td>@Html.TextBox("id_p", "")</td>
        </p>
        <p>
            <td>Cantidad</td>
            <td>@Html.TextBox("cant", "")</td>
        </p>

    </ol>
    <input type="submit" id="btnSubmit" value="Crear" />

}
<div>
    <a asp-action="Main">Back to Main</a>
</div>
